.movies-card-list {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(auto-fill, 197px);
  row-gap: 39px;
  margin-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.movies-message {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: repeat(auto-fill, 231px);
    row-gap: 47px;
    column-gap: 30px;
    margin-top: 80px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .movies-card-list {
    grid-template-columns: repeat(3, 360px);
    row-gap: 60px;
  }
}