.movies-card {
  position: relative;
}

.button_save {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background: #313131;
  border: 0;
  border-radius: 30px;
  width: 72px;
  height: 21px;
}

.button_save_active{
  background-color: #8B8B8B;
}

.button_delete{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background: #313131;
  border: 0;
  border-radius: 30px;
  width: 72px;
  height: 21px;
}

.card__description-container {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.card__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  width: 240px;
  margin-right: 60px;
}

.card__duration {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8B8B8B;
  background-color: #2F2F2F;
  border-radius: 3px;
  width: 58px;
  height: 18px;
}

.card__img{
  width: 300px;
  height: 168px;
}

@media screen and (min-width: 768px) {
  .movies-card {
    margin: 0;
  }

  .card {
    margin: 0;
  }

  .card__title {
    font-size: 13px;
    line-height: 16px;
  }

  .card__img{
    width: 339px;
    height: 190px;
  }
}

@media screen and (min-width: 1280px){
  .button_save{
    top: 14px;
    right: 14px;
  }

  .card__img{
    width: 360px;
    height: 201px;
  }
}